
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/images/crowd-background.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: repeat-x;
  background-color: var(--background-main);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacing-large);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}
